<nav *ngIf="showNavbar" class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="home"><button class="btn btn-primary" routerLinkActive="active">Home</button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="employees"><button class="btn btn-primary"  routerLinkActive="active">Employee Details</button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="admin-details"><button class="btn btn-primary"  routerLinkActive="active">Admin Details</button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="create-employee"><button class="btn btn-primary" routerLinkActive="active">Add Employee</button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp; 
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;

        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;

        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;<li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;

        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;

        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;<li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        <li class ="nav-item">
            <a routerLink="#"><button class="btn btn-primary"></button></a>
        </li>&nbsp;
        
        <li class ="nav-item">
            <a routerLink=""><button class="btn btn-danger float-right ml-10%" (click)="logout()" > Logout</button></a>
        </li>  
    </ul>
</nav>
